.header {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3rem;
  background-color: var(--bg-color);
  padding: 0 1.5rem;
  align-items: center;
  border: none;
}

.header a {
  /*this display flex centers the logo*/
  display: flex;
  justify-content: center;
}

body {
  padding-top: 5rem;
}

/* :root {
  --bg-color: hsl(0, 0%, 4%);
  --primary-color: hsl(0, 0%, 8%);
  --secondary-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 90%);
  --accent-color: hsl(221, 100%, 75%);
  --shadow-color: rgba(0, 0, 0, 0.4);
  --glow-color: rgba(167, 157, 255, 0.4);
} */

:root {
  --bg-color: hsl(0, 0%, 100%);
  --primary-color: #f9f9f9;
  --secondary-color: #f2f2f2;
  --text-color: hsl(0, 0%, 10%);
  --accent-color: hsl(221, 100%, 75%);
  --shadow-color: rgba(0, 0, 0, 0.4);
  --glow-color: rgba(167, 157, 255, 0.4);
}

.header img {
  height: 1.15rem;
}

.discord{
  background-color: #5865F2;
  padding: 0.5rem;
  border-radius: 50rem;
}

#mq-group,
.section, legend {
  background-color: var(--primary-color);
  border: 1px solid hsla(221, 100%, 75%);
}

/* legend {
  border: 1px solid var(--accent-color);
} */

legend,
select,
input,
.grid-3 input {
  background-color: var(--secondary-color);
}